body,
html {
	overflow-x: hidden;
	margin: 0;
	padding: 0;
}


body {
	font-family: Georgia, 'Times New Roman', Times, serif;
	padding: 10px;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: #f3edf5;
}

h1 {
	margin-top: 20px;
	margin-bottom: 20px;
}

a {
	text-decoration: none;
	color: black;
}

.buttons {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.group {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin-top: 5px;
}

input[type="range"] {
	-webkit-appearance: none;
	appearance: none;
	background: #ddd;
	border-radius: 5px;
}

input[type="range"]::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	width: 10px;
	height: 10px;
	background: darkred;
	cursor: pointer;
	border-radius: 50%;
}

.controls {
	display: flex;
	flex-wrap: wrap;
	gap: 10px;
	justify-content: flex-start;
}

fieldset {
	flex: 1;
	min-width: 200px;
	margin-top: 5px;
	margin-bottom: 15px;
	border-radius: 3px;
}

button {
	padding: 10px 15px;
	margin: 5px;
	font-family: Georgia, 'Times New Roman', Times, serif;
	font-size: 14px;
	font-weight: bold;
	background-color: #4a246d;
	color: white;
	border-radius: 5px;
	cursor: pointer;
	transition: background-color 0.3s;
}

button:hover {
	background-color: #aa47a5;
}

canvas {
	margin-top: 20px;
}

#board_canvas {
	border: 3px solid #8b6363;
	background-color: white;
}

.statistics {
	margin-top: 15px;
	display: flex;
	align-items: center;
	gap: 20px;
}

@media (max-width: 768px) {

	.controls fieldset {
		margin: 1px 150px;
	}

	h1 {
		font-size: x-large;
		margin: 0;
		margin-top: 20px;
	}

	.controls {
		margin-top: 25px;
		margin-bottom: 15px;
	}

	canvas {
		width: 360px;
		height: 360px;
	}

	.buttons {
		flex-direction: column;
		align-items: stretch;
	}

	.statistics {
		margin-top: 15px;
		display: flex;
		align-items: center;
		gap: 10px;
	}

}